<!DOCTYPE html>
<html>
<head>
  <meta charset='UTF-8'>
  <title>비트캠프</title>
  <link rel="stylesheet" type="text/css" href="/css/font.css">
</head>
<body>
<div data-th-fragment="footer" style="width: 100%;height: 5rem">
<div
     style='text-align:center;background-color:white;color:white;padding:10px;position : fixed; bottom : 0;width: 100%;'>
  <p style='color:#426B1F; font-size:90%;margin:0px;'>수고했어요 오늘도 : )</p>
  <address style='color:#426B1F; font-size:x-small; font-style:italic;'>@sns-team</address>
</div>
</div>
</body>
</html>

