<!DOCTYPE html>
<html>
<head>
  <meta charset='UTF-8'>
  <title>BIT SNS</title>

</head>
<body>

<div data-th-fragment="header" class="header">
  <img src="/images/logo.png" alt="로고" class="logo">
  <div class="header_nav">
    <a data-th-href="|/myPage/${session.loginUser.no}|">마이페이지</a>
    <a href="/board/list?category=1">게시글</a>
    <a href="/board/list?category=2">방명록</a>
  </div>
  <div class="header_profile">
    <a style="text-decoration-line: none" href="/notification/list">
      <span id="notReadNotiCount" data-th-text="${session.notReadNotiCount}"></span>
      <script src="/js/header.js"></script>
      <img src="/images/noti.png" alt="알림" class="header_notification-icon">
    </a>
    <span class="header_user-nickname" data-th-text="${session.loginUser.nick}">${session.loginUser.nick}</span>
    <div class="logout">
      <a href="/auth/logout">로그아웃</a>
    </div>
  </div>
  <!--  </div>-->
</div>
</body>
</html>