@font-face {
    font-family: 'UhBeeKeongKeong';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_five@.2.0/UhBeeKeongKeong.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body, p, h1, h2, h3, h4, h5, h6, textarea, input, button, a {
    font-family: 'UhBeeKeongKeong', sans-serif;
}

button {
    font-size : 20px;
}

body {
    font-size : 20px;
}
