/* 헤더 스타일 */
.header {
    height: 70px;
    background-color: white;
    color: #426B1F;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    margin-top: 20px;
    margin-bottom: 30px;
}

.logo {
    height: 40px;
}

.header_nav {
    margin-left:100px;
    display: flex;
    gap: 20px;
}

.header_nav a {
    text-decoration: none;
    color: #426B1F;
    font-weight: bold;
    font-size: 18px;
    padding: 10px 10px;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

.header_nav a:hover {
    background-color: #426B1F;
    color: white;
}

.header_profile {
    display: flex;
    align-items: center;
    gap: 10px;
}


.header_notification-icon {
    height: 20px;
}

.header_user-nickname {
    font-weight: bold;
    font-size: 20px;
}

.header_user-icon {
    height: 30px;
    border-radius: 50%;
}

.logout a {
    font-weight: bold;
    background-color: #426B1F;
    color: white;
    border: none;
    border-radius: 8px;
    padding: 10px 10px;
    cursor: pointer;
    margin-right: 10px;
    white-space : nowrap;
    text-decoration-line: none;
    font-size: 14px;
}

.logout a:hover {
    background-color: #5d962c;
    color: white;
}

/* 알림 로그 컨테이너 스타일 */
#notification-container {
  position: fixed;
  top: 95px;
  right: -300px;
  transition: all 1s ease;

  width: 300px;
  max-height: 80vh;
  overflow-y: auto;
  z-index: 1000;
}

/* 알림 메시지 스타일 */
.notification {
  background-color: #f2f2f2;
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

/* 알림 메시지 제목 스타일 */
.notification-title {
  font-weight: bold;
}

/* 닫기 버튼 스타일 */
.close-button {
  float: right;
  cursor: pointer;
}