<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="ie=edge" http-equiv="X-UA-Compatible">
  <title>🌱마이페이지</title>
  <link rel="stylesheet" type="text/css" href="/css/font.css">
  <link rel="stylesheet" type="text/css" href="/css/myPage/detail.css">
  <link rel="stylesheet" type="text/css" href="/css/myPage/myPageInfo.css">
  <link rel="stylesheet" type="text/css" href="/css/myPage/boardList.css">
  <link rel="stylesheet" type="text/css" href="/css/myPage/memberList.css">
  <link rel="stylesheet" type="text/css" href="/css/myPage/follow.css">
  <link rel="stylesheet" type="text/css" href="/css/toggle.css">
  <link rel="stylesheet" type="text/css" href="/css/myPage/myPageInfoUpdate.css">
  <link rel="stylesheet" type="text/css" href="/css/header.css">

  <script src="/js/myPage/follow.js"></script>
</head>

<body>
<div data-th-replace="header :: header"></div>
<form data-th-action="@{'/myPage/' + ${myPage.no}}" method="POST">
<!--  <input type="text" name="show" value="searchMembers" style="display: none;">-->
  <p style="font-size:20px; margin-left: 60px;">🔍️ 친구찾기
    <input type="text" name="keyword" placeholder="이름을 입력해주세요."
           style="margin-left: 20px; padding: 14px; border-width:1px; box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);">
    <input type="hidden" name="show" value="searchMembers">
    <input class="search_btn" type="submit" value="검색">
  </p>
</form>

<div id="myPageBox">
  <input data-th-value="${myPage.no}" id="myPageNo" type="hidden">
  <div data-th-insert="myPage/memberInfo :: memberInfo" id="memberInfo"></div>
  <div class="list_form">
    <!--        <div id="memberInfo" data-th-insert="memberInfo :: memberInfo">회원 정보</div>-->

    <div class="boardListBox" data-th-unless="${followList}">
      <!--      <div data-th-replace="board/list :: boardList">목록</div>-->
      <div style="display: block;">
        <div>
          <h2>🌱 내 게시글 </h2>
        </div>
        <div data-th-replace="board/mylist :: myboardList" style="margin-top: 20px;">
          내 게시글
        </div>
        <div>
          <h2>🌱 내 댓글 </h2>
        </div>
        <div data-th-replace="board/mycommentlist :: mycommentList" style="margin-top: 20px;">
          내 댓글
        </div>
      </div>
      <!-- <div data-th-replace="board/list :: boardList">목록</div> -->
      <!--            <div data-th-insert="boardList :: boardList">목록</div>-->
    </div>
    <div class="form-list">
      <div data-th-replace="myPage/followList :: followList"></div>
    </div>
  </div>

</div>

<div data-th-replace="footer :: footer"></div>

</body>

</html>