<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link rel="stylesheet" type="text/css" href="/css/font.css">
</head>
<body>
<div data-th-fragment="followList" class="memberListBox" data-th-if="${followList}">
  <h3 data-th-if="${show.equals('followers')}" data-th-text="'팔로워 리스트'"></h3>
  <h3 data-th-if="${show.equals('followings')}" data-th-text="'팔로잉 리스트'"></h3>
  <div data-th-each="member : ${followList}">
    <div class="memberItem">
      <input data-th-id="memberNo" data-th-value="${member.no}" type="hidden">
      <img class="memberPhoto" data-th-src="'/images/avatar.png'"
           data-th-unless="${member.photo}">
      <img class="memberPhoto" data-th-if="${member.photo}" data-th-src="${member.photo}">
      <span data-th-text="${member.nick}"></span>

      <input class="followCheckbox"
             data-th-checked="${session.loginUser.getFollowMemberSet().contains(member)}"
             data-th-id="|toggle${member.no}|"
             type="checkbox">
      <label class="unfollowLabel"
             data-th-for="|toggle${member.no}|"
             data-th-onclick="|unfollow(${member.no})|"
             style="color: #426B1F; background-color: transparent;">
        팔로잉 취소
      </label>
      <label class="followLabel"
             data-th-for="|toggle${member.no}|"
             data-th-onclick="|follow(${member.no})|"
             style="color: #426B1F; background-color: transparent;">
        팔로잉
      </label>
    </div>
  </div>
  <div id="pageLabel">
    <!--    <span data-th-text="${#request.getRequestURL()}"></span>-->
    <a data-th-href="@{${#request.getRequestURL()}(show=${show},page=1)}"
       data-th-text="(${page} > 1) ? '1' : _"></a>
    <a data-th-href="@{${#request.getRequestURL()}(show=${show},page=(${page} - 1))}"
       data-th-text="(${page} > 2) ? '2' : _"></a>
    <a data-th-href="@{${#request.getRequestURL()}(show=${show},page=${page})}"
       data-th-text="${page}"></a>
    <a data-th-href="@{${#request.getRequestURL()}(show=${show},page=(${page} + 1))}"
       data-th-text="${page} < ${maxPage} - 1 ? ${page} + 1 : _"></a>
    <a data-th-href="@{${#request.getRequestURL()}(show=${show},page=${maxPage})}"
       data-th-text="${page} < ${maxPage} ? ${maxPage} : _"></a>
  </div>
</div>
</body>
</html>