<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>🌱내 정보 수정</title>
    <link rel="stylesheet" type="text/css" href="/css/font.css">
    <link rel="stylesheet" type="text/css" href="/css/header.css">
    <link rel="stylesheet" type="text/css" href="/css/myPage/myPageInfo.css">
    <link rel="stylesheet" type="text/css" href="/css/myPage/myPageInfoUpdate.css">
</head>
<body>
<div data-th-replace="header :: header"></div>
<br>

<p data-th-unless="${session.loginUser}">로그인이 필요합니다!</p>

<form data-th-if="${session.loginUser}" action='update' method='post' enctype='multipart/form-data'>
    <div id="myPageBox" style="">
        <div data-th-replace="myPage/memberInfo :: memberInfo" id="memberInfo"></div>
        <div class="info_update" >
            <div class="form-container" style="margin-left:180px">
                <h1>내 정보 수정</h1>
                <div class="form-group">
                    <label for="name">🌱 사진</label>
                    <input type="file" id="photofile" name="photofile" style="width:10px;" onchange="previewImage(this);">
                    <img class="user-photo" data-th-unless="${session.loginUser.photo}" src='/images/default.jpg' alt="기본 이미지">
                    <img id="preview" class="user-photo" data-th-if="${session.loginUser.photo}"
                         data-th-src="|http://gjoxpfbmymto19010706.cdn.ntruss.com/sns_member/${myPage.photo}?type=f&w=270&h=270&faceopt=true&ttype=jpg|">
                </div>

                <script>
                    function previewImage(input) {
                        var preview = document.getElementById('preview');
                        if (input.files && input.files[0]) {
                            var reader = new FileReader();
                            reader.onload = function(e) {
                                preview.src = e.target.result;
                            };
                            reader.readAsDataURL(input.files[0]);
                        }
                    }
                </script>

                <div class="form-group">
                    <label for="name">🌱 이름</label>
                    <input type="text" id="name" name="name" data-th-value="${myPage.name}" readonly>
                </div>
                <div class="form-group">
                    <label for="nick">🌱 닉네임</label>
                    <input type="text" id="nick" name="nick" data-th-value="${myPage.nick}">
                </div>
                <div class="form-group">
                    <label for="birthday">🌱 생일</label>
                    <input type="date" id="birthday" name="birthday" data-th-value="${#dates.format(myPage.birthday, 'yyyy-MM-dd')}">
                </div>
                <div class="form-group">
                    <label for="email">🌱 이메일</label>
                    <input type="email" id="email" name="email" data-th-value="${myPage.email}">
                </div>
                <div class="form-group">
                    <label for="phone">🌱 전화번호</label>
                    <input type="tel" id="phone" name="phoneNumber" data-th-value="${myPage.phoneNumber}">
                </div>
                <div class="form-group">
                    <label for="password">🌱 암호</label>
                    <input type="password" id="password" name="password">
                </div>
                <div class="form-group">
                    <label for="gender">🌱 성별</label>
                    <select id="gender" name="gender" data-th-value="${myPage.gender}">
                        <option value='1' data-th-selected="${myPage.gender} == '1'">남자</option>
                        <option value='2' data-th-selected="${myPage.gender} == '2'">여자</option>
                    </select>
                </div>
                <div class="button-container">
                    <div class="my_btn">
                        <button type="submit">수정</button>
                        <button class="my_btn" type="reset">초기화</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

<div data-th-replace="footer :: footer"></div>
</body>
</html>
