<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title>BIT SNS</title>
  <link rel="stylesheet" type="text/css" href="/css/myPage/myPageInfo.css">
</head>

<body>
  <div data-th-fragment="memberInfo">
    <div class="sidebar">
      <!--        <a href="" >오늘 방문자 수</a>-->
      <p style="display: inline;">총 방문자 수 </p>
      <p data-th-text="${myPage.visitCount}" style="display: inline;"></p>
      <br>
      <br>
      <img alt="프로필 사진" class="profile-pic"
        src="https://search.pstatic.net/common/?src=http%3A%2F%2Fimgnews.naver.net%2Fimage%2F5511%2F2019%2F11%2F27%2F0000006891_003_20191127181028060.png&type=sc960_832">
      <!--        <h2>쫀떠기^-^</h2>-->
      <h2 data-th-text="${myPage.nick}"></h2>
      <div>
        <p style="display: inline; font-weight:bold;">상태 메시지</p>
        <a data-th-if="${session.loginUser.no == myPage.no}" data-th-href="@{'/myPage/' + ${myPage.no} + '/info'}"
          style="display: inline; margin-left: 10px; float:right">내 정보 수정</a>
        <a data-th-if="${session.loginUser.no != myPage.no}" href=""
          style="display: inline; margin-left: 10px; float:right">
          <input class="followCheckbox" data-th-checked="${session.loginUser.getFollowMemberSet().contains(myPage)}"
            data-th-id="|toggle${myPage.no}|" type="checkbox">
          <label class="unfollowLabel" data-th-for="|toggle${myPage.no}|" data-th-onclick="|unfollow(${myPage.no})|">
            팔로잉 취소
          </label>
          <label class="followLabel" data-th-for="|toggle${myPage.no}|" data-th-onclick="|follow(${myPage.no})|">
            팔로우
          </label>
        </a>
        <div style="padding-bottom:10px; padding-top: 10px;">

          <input type="text" name="stateMessage" data-th-if="${#strings.isEmpty(myPage.stateMessage)}"
                 placeholder="상태 메시지가 없습니다."
                 style="height:40px; border: none; background-color:transparent; width: 100%;">
          <div data-th-if="${not #strings.isEmpty(myPage.stateMessage)}">
            <input type='text' name='stateMessage' data-th-if="${session.loginUser.no != myPage.no}"
                   data-th-value="${myPage.stateMessage}" readonly
                   style="height:40px; border: none; background-color:transparent; width: 100%;">
  <!--          <div data-th-if="${session.loginUser.no == myPage.no}">-->
            <div data-th-if="${session.loginUser.no == myPage.no }">
              <input type='text' name='stateMessage' data-th-readonly="${request == null || !#strings.contains(request.getRequestURL(), '/info')}"
                     data-th-value="${myPage.stateMessage}"
                     style="height:40px; border: none; background-color:transparent; width: 100%;">
            </div>
          </div>
        </div>
<!--        <div style="text-align: center; padding-top: 20px;">-->
        <div class="button-container">
          <div class="sidebar_my_btn" style="">
          <a data-th-href="@{'/myPage/' + ${myPage.no} + '?show=followings'}">팔로잉</a>
          </div>
          <div class="sidebar_my_btn">
          <a data-th-href="@{'/myPage/' + ${myPage.no} + '?show=followers'}">팔로워</a>
          </div>
        </div>
<!--        </div>-->
      </div>
    </div>

  </div>
</body>

</html>