<!DOCTYPE html>
<html>
<head>
  <meta charset='UTF-8'>
  <title>저를 "힐링버튼"으로 쓰세요</title>
  <link rel="stylesheet" type="text/css" href="/css/font.css">
  <link rel="stylesheet" type="text/css" href="/css/auth/form.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="../../static/js/auth/form.js"></script>

</head>

<body>
<main id="main-holder">
  <div style="margin-bottom: 40px;"></div>
  <img src="/images/logo.png" alt="로고" class="logo">

  <div id="login-error-msg-holder">
    <p id="login-error-msg">Invalid username <span id="error-msg-second-line">and/or password</span>
    </p>
  </div>

  <form id="login-form" method="post">
    <!-- 사용자 입력 필드 -->
    <input style="font-size: 20px" type="text" name="phoneNumber" id="username-field" class="login-form-field"
           placeholder="전화번호">
    <input style="font-size: 20px" type="password" name="password" id="password-field" class="login-form-field" placeholder="비밀번호">
    <input style="font-size: 20px" type="submit" value="로그인" id="login-form-submit">
    <label class="left-align">
      <input type='checkbox' name='savePhoneNumber' id='savePhoneNumber'> 전화번호 저장
    </label>
    <ul>
      <a style="font-size: 20px" href="/auth/add" class="user-field"> 🌱 회원가입</a>
      <a style="font-size: 20px" href="/auth/find" class="user2-field"> 🌱 비밀번호 찾기</a>
    </ul>


  </form>
  <script>
    document.addEventListener("DOMContentLoaded", function () {
      const loginForm = document.getElementById("login-form");
      const loginErrorMsg = document.getElementById("login-error-msg");

      loginForm.addEventListener("submit", function (event) {
        const phoneNumber = loginForm.querySelector("#username-field").value;
        const password = loginForm.querySelector("#password-field").value;

        // Ajax 요청 보내기
        const xhr = new XMLHttpRequest();
        xhr.open("POST", "login", true);
        xhr.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");

        xhr.onload = function () {
          if (xhr.status === 200) {
            // 로그인 성공
            loginErrorMsg.style.opacity = 0; // 에러 메시지 감추기
            alert("로그인 성공 🌱");
            const responseData = JSON.parse(xhr.responseText); // JSON 응답 데이터 파싱
            const userNo = responseData.userNo; // 사용자 번호 추출
            location.href = `/myPage/${userNo}`; // 사용자 번호를 기반으로 리다이렉트
          } else {
            // 로그인 실패
            loginErrorMsg.style.opacity = 1; // 에러 메시지 표시
            loginErrorMsg.innerText = "로그인 실패! 다시 시도해주세요"; // 에러 메시지 설정
          }
        };

        // 요청 본문 설정
        const data = `phoneNumber=${phoneNumber}&password=${password}`;
        xhr.send(data);

        event.preventDefault(); // 폼 제출 방지
      });
    });
  </script>
</main>
</body>
</html>