<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>🌱비밀번호 찾기</title>
    <link rel="stylesheet" type="text/css" href="/css/font.css">
    <link rel="stylesheet" type="text/css" href="/css/auth/loginfind.css">
</head>
<body>

<main id="main-holder">
    <table class="table1">
    <h1>비밀번호 찾기</h1>
    </table>

    <table class="table2">
    <div style="display: flex; align-items: center;">
        <label style="width: 200px;">🌱 전화번호</label>
        <input type="text" name="phoneNumber" id="tel" placeholder="전화번호를 입력하세요">
        <button class="send-button" id="sendCode">인증번호 전송</button>
    </div>
    <p id="sendresult"></p>

    <div style="display: flex; align-items: center;">
        <label style="width: 200px;">🌱 인증번호</label>
        <input type="text" id="verificationCode" placeholder="인증번호를 입력하세요">
        <button class="verify-button" id="verifyCode">인증번호 확인</button>
    </div>
    <p id="verifyresult"></p>
    </table>

 <!-- 새로운 비밀번호 입력 폼 (초기에는 숨겨져 있음) -->
    <div id="newPasswordForm" style="display: none; flex-direction: row; align-items: center; justify-content: center;" >
        <label style="width: 200px;">🌱 새 비밀번호</label>
        <input class="input-field" type="password" id="newPassword" placeholder="새로운 비밀번호를 입력하세요">
        <button class="common-button" id="changePassword">비밀번호 변경</button>
    </div>
    <p id="changeresult"></p>




<!-- 로그인 버튼 추가 -->
<button style="font-size: 25px" id="goToLogin">돌아가기</button>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function() {
        $("#sendCode").click(function() {
            var phoneNumber = $("#tel").val();
            $.ajax({
                type: "POST",
                url: "/auth/phoneFind",
                data: { phoneNumber: phoneNumber },
                success: function(response) {
                    // 가입 여부를 확인
                    if (response) {
                        $("#sendresult").text("인증번호가 발송되었습니다.");
                    } else {
                        $("#sendresult").text("번호를 다시 확인해주세요.");
                    }
                },
                error: function() {
                    $("#sendresult").text("오류가 발생했습니다.");
                }
            });
        });

        $("#verifyCode").click(function() {
            var code = $("#verificationCode").val();
            var phoneNumber = $("#tel").val(); // 전화번호 가져오기
            $.ajax({
                type: "POST",
                url: "/auth/phoneAuthOk",
                data: { code: code },
                success: function(response) {
                    if (response) {
                        $("#verifyresult").text("인증번호가 틀립니다.");
                    } else {
                        $("#verifyresult").text("인증이 완료되었습니다.");

                        // 인증 성공 시 새로운 비밀번호 입력 폼을 표시
                        $("#newPasswordForm").show(); //여기변경

                        // 비밀번호 변경 버튼 클릭 이벤트 처리
                        $("#changePassword").click(function() {
                            var newPassword = $("#newPassword").val();
                            $.ajax({
                                type: "POST",
                                url: "/auth/resetPassword", // 비밀번호 변경을 처리할 컨트롤러 엔드포인트 URL로 변경
                                data: {
                                    phoneNumber: phoneNumber, // 전화번호
                                    verificationCode: code,   // 인증 코드
                                    newPassword: newPassword   // 새로운 비밀번호
                                },
                                success: function(response) {
                                    if (response) {
                                        $("#changeresult").text("비밀번호 변경 성공! " + response);
                                    } else {
                                        $("#changeresult").text("비밀번호 변경 실패");
                                    }
                                },
                                error: function() {
                                    $("#changeresult").text("오류가 발생했습니다.");
                                }
                            });
                        });
                    }
                },
                error: function() {
                    $("#verifyresult").text("오류가 발생했습니다.");
                }
            });
        });

        // "로그인" 버튼 클릭 이벤트
        $("#goToLogin").click(function() {
            var loginPageURL = "/auth/form";

            // 현재 창을 로그인 페이지로 이동합니다.
            window.location.href = loginPageURL;
        });
    });
</script>
</main>
</body>
</html>