<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>BITSNS</title>
  <link rel="stylesheet" href="login-page.css">
  <script defer src="login-page.js"></script>
</head>

<body>
<main id="main-holder">
  <h1 id="login-header">BITSNS</h1>

  <div id="login-error-msg-holder">
    <p id="login-error-msg">Invalid username <span id="error-msg-second-line">and/or password</span></p>
  </div>

  <form id="login-form">
    <input type="text" name="Email" id="username-field" class="login-form-field" placeholder="Email">
    <input type="password" name="password" id="password-field" class="login-form-field" placeholder="Password">
    <input type="submit" value="Login" id="login-form-submit">
    <ul>
    <li><a href="form.html" class="user-field"> 회원가입</a></li>
    <li><a href="form.html" class="user2-field"> 이메일/비밀번호 찾기</a></li>
    </ul>
  </form>

</main>
</body>

</html>