<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>🌱회원가입</title>
    <link rel="stylesheet" type="text/css" href="/css/font.css">
    <link rel="stylesheet" type="text/css" href="/css/auth/membership.css">

</head>

<body>
<main id="main-holder">
    <h2>회원가입</h2>
    <form action='add' method='post' enctype='multipart/form-data'>
        <table class="form-container">
            <tr>
                <th>🌱 이름</th>
                <td><input type='text' name='name' style="width: 400px;" placeholder="이름을 입력하세요"></td>
            </tr>
            <tr>
                <th>🌱 닉네임</th>
                <td><input type='text' name='nick' style="width: 400px;" placeholder="닉네임을 입력하세요"></td>
            </tr>
            <tr>
                <th>🌱 전화번호</th>
                <td>
                    <div style="display: flex; align-items: center;">
                        <input style="width: 400px;" type="text" name="phoneNumber" id="tel" placeholder="전화번호를 입력하세요">
                        <button type="button" id="sendCode" class="send-button">인증번호전송</button>
                    </div>
                    <div style="display: flex; align-items: center;">
                        <input style="width: 400px;" type="text" id="verificationCode" placeholder="인증번호를 입력하세요">
                        <button  type="button" id="verifyCode" class="verify-button">인증번호확인</button>
                    </div>
                    <p id="result"></p>
                </td>
            </tr>
            <tr>
                <th>🌱 비밀번호</th>
                <td><input type='password' name='password' style="width: 400px;" placeholder="비밀번호를 입력하세요"></td>
            </tr>
            <tr>
                <th>🌱 프로필사진</th>
                <td>
                    <div class="image-container" style="width:400px;">
                        <img src="" class="user-image" id="previewImage">
                        <input type='file' name='photofile' id="photoInput" onchange="previewFile()">
                    </div>
                </td>
            </tr>
        </table>
        <button style="font-size:25px;" type="submit" class="submit-button" id="registerButton" disabled>가입하기</button>
    </form>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function() {
            $("#sendCode").click(function() {
                var phoneNumber = $("#tel").val();
                $.ajax({
                    type: "POST",
                    url: "/auth/phoneAuth",
                    data: { phoneNumber: phoneNumber },
                    success: function(response) {
                        if (response) {
                            $("#result").text("가입된 전화번호입니다.");
                            // 전화번호가 이미 가입되어 있는 경우 가입하기 버튼 비활성화 및 알림 표시
                            $("#registerButton").prop("disabled", true);
                            alert("전화번호 인증을 먼저 완료해주세요.");
                        } else {
                            $("#result").text("인증번호를 전송했습니다.");
                            // 인증번호 전송 성공 시 가입하기 버튼 활성화
                            $("#registerButton").prop("disabled", false);
                        }
                    },
                    error: function() {
                        $("#result").text("오류가 발생했습니다.");
                        $("#registerButton").prop("disabled", true);
                        alert("오류가 발생했습니다. 다시 시도해주세요.");
                    }
                });
            });

            $("#verifyCode").click(function() {
                var code = $("#verificationCode").val();
                $.ajax({
                    type: "POST",
                    url: "/auth/phoneAuthOk",
                    data: { code: code },
                    success: function(response) {
                        if (response) {
                            $("#result").text("인증 실패");
                            // 인증 실패 시 가입하기 버튼 비활성화 및 알림 표시
                            $("#registerButton").prop("disabled", true);
                            alert("인증에 실패했습니다. 올바른 인증번호를 입력해주세요.");
                        } else {
                            $("#result").text("인증 성공");
                            // 인증 성공 시 가입하기 버튼 활성화
                            $("#registerButton").prop("disabled", false);
                        }
                    },
                    error: function() {
                        $("#result").text("오류가 발생했습니다.");
                        $("#registerButton").prop("disabled", true);
                        alert("오류가 발생했습니다. 다시 시도해주세요.");
                    }
                });
            });
        });

        function previewFile() {
            var preview = document.getElementById('previewImage');
            var file = document.getElementById('photoInput').files[0];
            var reader = new FileReader();

            reader.onloadend = function() {
                preview.src = reader.result;
            }

            if (file) {
                reader.readAsDataURL(file);
            } else {
                preview.src = "";
            }
        }
    </script>
</main>
</body>
</html>