
    /* 게시글 리스트 스타일 */
    .boardListBox {
        display: flex;
        justify-content: space-between;
        width: 100%;
        padding: 20px;
        background-color: #fff;
        border-radius: 5px; /* 박스를 둥글게 만들기 위해 추가 */
    }
    table {
        border-collapse: collapse;
        width: 200%;
        margin: 1rem 0.5rem;
        background-color: white;
    }

    thead {
        box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.1);
    }

    /* 테이블 행 */
    td {
        padding: 8px;
        text-align: left;
        border-bottom: 1px solid #ddd;
        text-align: center;
    }

    th {
        padding: 8px;
        text-align: left;
        text-align: center;
        /*border-top: 2px solid #888;*/
        /*border-bottom: 2px solid #888;*/
        /*color: #888;*/
    }

    /* 테이블 올렸을 때 */
    tbody tr:hover {
        background-color: #d3d3d3;
        opacity: 0.9;
        cursor: pointer;
    }

    /* 테이블 비율 */
    th:nth-child(1),
    td:nth-child(1) {
        width: 10%;
    }

    th:nth-child(2),
    td:nth-child(2) {
        width: 20%;
    }

    th:nth-child(3),
    td:nth-child(3) {
        width: 40%;
    }

    th, td {
        border-left: none;
        border-right: none;
    }
