   /* 전체 페이지 스타일 */
   body {
       /*background-color: #f5f5f5;*/
       margin: 0;
       padding: 0;
   }

   /* MyPageBox 스타일 */
   #myPageBox {
       display: flex;
       justify-content: center;
       padding: 20px;
       padding-top: 0px;
   }

   /* 왼쪽 사이드바 스타일 */
   .sidebar {
       float: left;
       width: 270px;
       padding: 20px;
       background-color: #FAFAF5;
       border-radius: 5px; /* 사이드바를 둥글게 만들기 위해 추가 */
   }

   .search_btn {
       font-size: 15px;
       background-color: #426B1F;
       color: white;
       border: none;
       border-radius: 8px;
       padding: 10px 20px;
       cursor: pointer;
       white-space : nowrap;
       text-decoration-line: none;
       margin: 20px 20px 20px 10px;
   }