
    .pagination-link {
        display: inline-block;
        width: 36px; /* 너비 */
        height: 36px; /* 높이 */
        line-height: 36px; /* 텍스트 수직 정렬 */
        text-align: center; /* 텍스트 수평 정렬 */
        margin-right: 4px;
        border-radius: 50%; /* 동그라미 */
        background-color: #f2f2f2;
        text-decoration: none;
        color: black;
    }

    .pagination-link-active {
        background-color: #426B1F;
        color: white;
    }

    #pageLabel {
        margin-top : 60px;
        text-align: center;
    }