
    /* 팔로우 언팔로우 버튼 디자인 및 토글 구현 */
    .followCheckbox {
        display: none;
    }
    .unfollowLabel {
        display: none;
    }
    .followCheckbox:checked ~ .unfollowLabel { /* 팔로우 되어 있는 상태 == 언팔 버튼이 보여야함 */
        display: inline-block;
        background-color: grey;
    }

    .followLabel {
        display: inline-block;
        background-color: grey;
    }
    .followCheckbox:checked ~ .followLabel {
        display: none;
    }

    .pagination-link {
        display: inline-block;
        padding: 8px 12px;
        margin-right: 4px;
        border-radius: 100px; /* 완벽한 동그라미로 만들기 */
        background-color: #f2f2f2;
        text-decoration: none;
        color: white;
    }

    .pagination-link-active {
        background-color: #426B1F;
        color: white;
    }

    #pageLabel {
        margin-top : 60px;
        text-align: center;
    }