/*!* 왼쪽 사이드바 스타일 *!*/
/*.sidebar {*/
/*    float: left;*/
/*    width: 25%;*/
/*    padding: 20px;*/
/*    background-color: #f0f0f0;*/
/*}*/

/* 프로필 사진 스타일 */
.profile-pic {
    /*max-width: 100%;*/
    width: 300px;
    height: auto;
    border-radius: 50%; /* 원 모양 프로필 사진을 만들기 위해 추가 */
    margin: auto;
    justify-content: center;
    display: flex;
}

/* 왼쪽 사이드바 스타일 */
.sidebar {
    float: left;
    width: 430px;
    height: 700px;
    padding: 20px;
    /*margin-left: 3%;*/
    background-color: #FAFAF5;
    border-radius: 5px; /* 사이드바를 둥글게 만들기 위해 추가 */
}

.button-container {
    display: flex; /* 버튼을 가로로 나란히 배치하기 위해 flex를 사용 */
    text-align: center;
    margin-top: 10px;
    justify-content: center;
}

.sidebar_my_btn a {
    font-size: 20px;
    background-color: #426B1F;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 15px 40px;
    cursor: pointer;
    /*margin-right: 10px;*/
    white-space : nowrap;
    text-decoration-line: none;
    margin: 30px;
}

.sidebar_my_btn a:hover {
    background-color: #5d962c;
    color: white;
}
