html {
    height: 100%;
}
body {
    height: 100%;
    margin: 0;
    display: grid;
    justify-items: center;
    align-items: center;
    background-color: #426B1F;
}

#main-holder {
    width: 70%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 7px;
    gap: 10px;
}

/* 그리드 간격 조정 */
#main-holder > :not(:last-child) {
    margin-bottom: 10px;
}

input[type="text"]
{
    padding: 10px;
    margin: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 80%;
    max-width: 300px;
}

button {
    padding: 10px 20px;
    background-color: #426B1F;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #426B1F;
}


@font-face {
    font-family: 'UhBeeKeongKeong';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_five@.2.0/UhBeeKeongKeong.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body, p, h1, h2, h3, h4, h5, h6, textarea, input, button, a {
    font-family: 'UhBeeKeongKeong', sans-serif;
}

button {
    font-size : 20px;
}

body {
    font-size : 20px;
}

.send-button, .verify-button, .change-button {
    margin-left:30px;
    width: 220px;
}

#sendresult, #verifyresult, #changeresult{
    color: black;
    font-weight: bold;
    margin-top: 1px;
}

.table1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 100px;
}

.table2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

}

#newPasswordForm {
    display: none;
    flex-direction: column;
    align-items: center;
    width: 100%;
    justify-content: center; /* 가운데 정렬 */
    margin-left:760px;
}

.input-field {
    padding: 10px;
    margin: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 300px;
    margin-left:40px;
}


.common-button {
    padding: 10px 20px;
    background-color: #426B1F;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 160px;
    margin-left:25px;
}