<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset='UTF-8'>
    <title>🌱게시글</title>
    <link rel="stylesheet" type="text/css" href="/css/font.css">
    <link rel="stylesheet" type="text/css" href="/css/board/detail.css">

    <script>
        function toggleLikeButtons(boardNo) {
            const likeButton = document.getElementById('likeButton-' + boardNo);
            const unlikeButton = document.getElementById('unlikeButton-' + boardNo);

            // 버튼의 표시 상태를 전환
            if (likeButton.style.display === 'none' || likeButton.style.display === '') {
                likeButton.style.display = 'inline-block';
                unlikeButton.style.display = 'none';
            } else {
                likeButton.style.display = 'none';
                unlikeButton.style.display = 'inline-block';
            }
        }

        function likeButtonClicked(buttonElement) {
            const boardNo = buttonElement.getAttribute("data-board-no");

            fetch(`/board/like?boardNo=${boardNo}`, {
                method: 'POST'
            })
                .then(response => {
                    if (response.ok) {
                        alert("좋아요가 성공적으로 처리되었습니다.");
                        toggleLikeButtons(boardNo); // 버튼 상태 전환 함수 호출
                    } else {
                        alert("좋아요 처리 중 오류가 발생했습니다.");
                    }
                });
        }

        function unlikeButtonClicked(buttonElement) {
            const boardNo = buttonElement.getAttribute("data-board-no");

            fetch(`/board/unlike?boardNo=${boardNo}`, {
                method: 'POST'
            })
                .then(response => {
                    if (response.ok) {
                        alert("좋아요 취소가 성공적으로 처리되었습니다.");
                        toggleLikeButtons(boardNo); // 버튼 상태 전환 함수 호출
                    } else {
                        alert("좋아요 취소 처리 중 오류가 발생했습니다.");
                    }
                });
        }
    </script>

    <link href="/css/header.css" rel="stylesheet" type="text/css">
</head>

<body>
<div data-th-replace="header :: header"></div>

<!-- Wrapper div to contain the two columns -->
<div class="wrapper" style="display: flex; justify-content: space-between;">

    <!-- Left column for the post -->
    <div class="left-column" style="flex: 1;">
        <p data-th-unless="${board}">해당 번호의 게시글이 없습니다!</p>
        <div class="container">
            <div class="content-box">
                <form data-th-action="@{/board/update}" data-th-if="${board}" enctype='multipart/form-data' method='post'>
                    <input name='no' th:value="${board.no}" type='hidden'>
                    <h1>
                        <input style="margin-top: 20px; margin-bottom: 30px; font-size: 40px; background-color: transparent; border: none;" name="title" th:value="${board.title}" type="text" value="${board.title}">
                    </h1>
                    <div style="margin-left: 335px; margin-bottom: 30px;" class="meta-info">
                        <span th:text="${board.writer.nick}"></span>
                        <img class="clock-icon" src="/images/clock.png">
                        <span th:text="${#dates.format(board.createdAt, 'yyyy-MM-dd')}"></span>
                        <img class="clock-icon" src="/images/eye.png">
                        <span th:text="${board.viewCount}"></span>
                    </div>
                    <p data-th-unless="${board}">해당 번호의 게시글이 없습니다!</p>
                    <textarea data-th-text="${board.content}" name='content' style="font-size: 20px; background-color: transparent; border: none; height:200px; width:600px;">내용입니다!</textarea>
                    <div>
                        <div style="overflow-x: auto; white-space: nowrap;">
                            <div data-th-each="file : ${board.attachedFiles}" style="display: inline-block; margin-right: 10px;">
                                <img alt="첨부파일 이미지" data-th-src="@{|https://kr.object.ncloudstorage.com/bitcamp-nc7-bucket-14/sns_board/${file.filePath}|}" height="200" width="200"/>
                                <a data-th-href="|https://kr.object.ncloudstorage.com/bitcamp-nc7-bucket-14/sns_board/${file.filePath}|"></a>
                                <a data-th-href="|/board/fileDelete/attachedFile;no=${file.no}|"
                                   style="color: black; text-decoration: none; font-weight: bold;">X</a><br>
                            </div>
                        </div>
                        <input multiple name='files' type='file'>
                    </div>
                    <div class="btn-container">
                        <button>변경</button>
                        <button type="reset">초기화</button>
                        <a data-th-href="@{/board/delete(category=${board != null ? board.category : 'default'},no=${board != null ? board.no : '0'})}">
                            <button type="button">삭제</button>
                        </a>
                        <a th:href="@{/board/list(category=${board.category})}">
                            <button type="button">목록</button>
                        </a>
                    </div>
                </form>
            </div> <!-- End of content-box -->
            <!-- 좋아요 버튼 -->
            <button class="like-button" th:id="'likeButton-' + ${board.no}" th:if="${!likedBoards.contains(board.no)}" th:attr="data-board-no=${board.no}" onclick="likeButtonClicked(this)">
                좋아요 누르기 🤍
            </button>
            <!-- 좋아요 취소 버튼 -->
            <button class="unlike-button" th:id="'unlikeButton-' + ${board.no}" th:if="${likedBoards.contains(board.no)}" th:attr="data-board-no=${board.no}" onclick="unlikeButtonClicked(this)">
                좋아요 취소❤️
            </button>
            <div class="like-list">
                <span th:each="nickname, iterStat : ${likedUserNicknames}">
                    <span th:text="${nickname}"></span>
                    <span th:if="${iterStat.last}"> 님이 좋아합니다</span>
                    <span th:unless="${iterStat.last}">, </span>
                </span>
            </div>
        </div> <!-- End of container -->
    </div> <!-- End of left-column -->

    <div class="right-column" style="flex: 1;">
        <!-- 댓글 작성 폼 -->
        <div class="comment-input-container">
            <form action="/board/addComment" method="post">
                <table style="margin-bottom: 2%; margin-left: 0%">
                    <tr>
                        <th>댓글</th>
                        <td><textarea style="border: none;" name="content" rows="4" cols="60" placeholder="내용을 입력하세요"></textarea></td>
                    </tr>
                </table>
                <div style="text-align: center; margin-left:45%; margin-top:2%; margin-bottom:5%;">
                    <button class="submit-button" type="submit">작성</button>
                </div>
                <input name="boardNo" th:value="${board.no}" type="hidden">
            </form>
        </div>

    <!-- 댓글 내용 -->
        <div class="comment-list-scrollable">
    <div data-th-each="boardComment : ${comments}">
            <div class="comment-container">
                <!-- 게시글 목록 -->
                <table class="content-table">
                    <!-- 첫 번째 행: 프사, 이름, 시간 -->
                    <tr class="first-row">
                        <td class="title-meta-cell" colspan="3">
                            <div class="horizontal-layout">
                                <div style="display: flex; align-items: center;">
                                    <div class="profile-picture" style="display: inline-block;">
                                        <img data-th-unless="${boardComment.writer.photo}" src='/images/avatar.png'>
                                        <a data-th-if="${boardComment.writer.photo}"
                                           data-th-href="|https://kr.object.ncloudstorage.com/bitcamp-nc7-bucket-14/sns_member/${boardComment.writer.photo}|">
                                            <img class="profile-image" alt="프로필 사진"
                                                 data-th-src="|http://gjoxpfbmymto19010706.cdn.ntruss.com/sns_member/${boardComment.writer.photo}?type=f&w=270&h=270&faceopt=true&ttype=jpg|">
                                        </a>
                                    </div>
                                    <div>
                                        <span th:text="${boardComment.writer.nick}"></span>
                                    </div>
                                </div>
                                <div class="meta-info">
                                    <img class="clock-icon" src="/images/clock.png">
                                    <span th:text="${#dates.format(boardComment.createdAt, 'yyyy-MM-dd')}"></span>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <!-- 두 번째 행: 내용 -->
                    <tr class="second-row">
                        <td class="content-like-cell" colspan="3" style="position: relative;">
                            <span th:text="${boardComment.content}"></span>
                        </td>
                    </tr>
                </table>
        <div style="text-align: center; margin-left:0%; margin-top:2%; margin-bottom:5%;">
            <a data-th-href="|/board/deleteComment/${board.no}/${boardComment.no}|">
                <button class="delete-button">삭제</button>
            </a>
        </div>
    </div>
</div> <!-- End of right-column -->
        </div>
</body>

</html>