<!DOCTYPE html>
<html>
<head>
  <meta charset='UTF-8'>
  <title>게시글</title>

  <link rel="stylesheet" type="text/css" href="/css/header.css">
  <link rel="stylesheet" type="text/css" href="/css/board/list.css">

  <script>
    function searchFunction() {
      const input = document.querySelector('.search-box input[type="text"]');
      const filter = input.value.toUpperCase();
      const table = document.querySelector('table tbody');
      const tr = table.querySelectorAll('tr');

      tr.forEach(row => {
        const titleCell = row.querySelector('td:nth-child(2) a');
        const titleText = titleCell ? titleCell.textContent || titleCell.innerText : "";

        if (titleText.toUpperCase().indexOf(filter) > -1) {
          row.style.display = "";
        } else {
          row.style.display = "none";
        }
      });
    }
  </script>

</head>
<body>
<div data-th-replace="header :: header"></div>
<h1>게시글 목록</h1>

<!-- 새 글 버튼을 표 상단 우측에 추가 -->
<div style="text-align: right; margin-right: 20px; margin-top: -30px;">
  <a data-th-href="@{/board/form(category=${param.category})}" class="button">새 글</a>
  <a data-th-href='@{/}' class="button">메인</a>
</div>

<table border='1' data-th-fragment="boardList">
  <thead>
  <tr>
    <th>번호</th>
    <th>제목</th>
    <th>프사</th>
    <th>작성자</th>
    <th>조회수</th>
    <th>등록일</th>
  </tr>
  </thead>
  <tbody>
  <tr data-th-each="board : ${list}">
    <td data-th-text="${board.no}">게시글 번호</td>
    <td><a data-th-href="@{'/board/detail/' + ${board.category} + '/' + ${board.no}}"
           data-th-text="${board.title} ?: '제목없음'">게시글 제목</a>
    </td>
    <td>
      <div class="profile-picture">
        <img src="${board.writer.photo}" class="circular-image">
      </div>
    </td>
    <td data-th-text="${board.writer.name}">작성자</td>

    <td data-th-text="${board.viewCount}">조회수</td>
    <td data-th-text="${#dates.format(board.createdAt, 'yyyy-MM-dd')}">등록일</td>
  </tr>
  </tbody>
</table>

<!-- 검색 박스와 검색 버튼 추가 -->
<div class="search-box">
  <input type="text" placeholder="제목을 입력하세요" onkeyup="searchFunction()">
  <button class="search-button">검색</button>
</div>

<div data-th-replace="footer :: footer"></div>

</body>
</html>