<!DOCTYPE html>
<html>
<head>
  <meta charset='UTF-8'>
  <title>🌱게시글</title>
  <link rel="stylesheet" type="text/css" href="/css/font.css">
  <link rel="stylesheet" type="text/css" href="/css/header.css">
  <link rel="stylesheet" type="text/css" href="/css/board/list.css">


</head>
<body>
<div data-th-replace="header :: header"></div>

<div style="margin-bottom: 80px;"></div>

<!-- 새 글 버튼을 표 상단 우측에 추가 -->
<div style="text-align: right; margin-right: 20px; margin-top: -30px;">
  <a data-th-href="@{/board/form(category=${param.category})}" class="button">새 글</a>
  <a style="margin-right:1650px;" data-th-href='@{/}' class="button">메인</a>
</div>

<table border='1' data-th-fragment="boardList">
  <thead>
  <tr>
    <th>번호🌱</th>
    <th>제목🌱</th>
    <th>작성자🌱</th>
    <th>좋아요수🌱</th>
    <th>조회수🌱</th>
    <th>등록일🌱</th>
  </tr>
  </thead>
  <tbody>
  <tr data-th-each="board : ${list}">
    <td data-th-text="${board.no}">게시글 번호</td>
    <td>
      <a data-th-href="@{'/board/detail/' + ${board.category} + '/' + ${board.no}}"
         data-th-text="${board.title} ?: '제목없음'"
         style="color: black; text-decoration: none;">게시글 제목</a>
    </td>
    <td>
      <div class="profile-author">
        <div class="profile-picture">
          <!-- 기본 프로필 이미지를 사용하려면 아래와 같이 src를 명시합니다. -->
          <img data-th-unless="${board.writer.photo}" src='/images/avatar.png'>

          <!-- board.writer.photo 값이 있을 경우에만 이 img 태그가 렌더링됩니다. -->
          <a data-th-if="${board.writer.photo}"
             data-th-href="|https://kr.object.ncloudstorage.com/bitcamp-nc7-bucket-14/sns_member/${board.writer.photo}|">
            <img class="profile-image" alt="프로필 사진"
                 data-th-src="|http://gjoxpfbmymto19010706.cdn.ntruss.com/sns_member/${board.writer.photo}?type=f&w=270&h=270&faceopt=true&ttype=jpg|">
          </a>
        </div>
        <span data-th-text="${board.writer.nick}">작성자</span>
      </div>
    </td>
    <td data-th-text="${board.likes}">좋아요수</td>
    <td data-th-text="${board.viewCount}">조회수</td>
    <td data-th-text="${#dates.format(board.createdAt, 'yyyy-MM-dd')}">등록일</td>
  </tr>
  </tbody>
</table>

<!-- 페이징 처리 부분 -->
<div class="pagination">
  <!-- 이전 페이지 링크 -->
  <a href="/board/list?category=1&page=1">처음</a>
  <a href="/board/list?category=1&page=${page.prev}" th:if="${page.prev != null}">이전</a>
  <!-- 페이지 번호 출력 -->
  <span th:each="pageNumber : ${page.pageNumbers}" th:class="${pageNumber == page.currentPage} ? 'active'">
    <a href="/board/list?category=1&page=${pageNumber}" th:if="${pageNumber != page.currentPage}" th:text="${pageNumber}"></a>
  </span>
  <!-- 다음 페이지 링크 -->
  <a href="/board/list?category=1&page=${page.next}" th:if="${page.next != null}">다음</a>
  <a href="/board/list?category=1&page=${page.totalPages}">마지막</a>
</div>

<!-- 검색 박스와 검색 버튼 추가 -->
<div class="search-box">
  <input type="text" placeholder="제목을 입력하세요">
  <button class="search-button">검색</button>
</div>

<div data-th-replace="footer :: footer"></div>

</body>
</html>