<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>알림 로그 목록</title>
  <link rel="stylesheet" type="text/css" href="/css/font.css">
  <link rel="stylesheet" type="text/css" href="/css/header.css">
  <link rel="stylesheet" type="text/css" href="/css/notification/list.css">
</head>
<body>
<div data-th-replace="header :: header"></div>
<!-- 부모 컨테이너 - 가운데 정렬 -->
<div class="center-container">
  <!-- 알림 로그 목록 컨테이너 -->
  <div class="notification-list-container">
    <div id="notification-title-container">
      <h2 class="notification-title" style="margin-left: 5%;">알림 내용</h2> <!-- 수정: 제목을 왼쪽 정렬로 맞춤 -->
      <form data-th-action="'/notification/updateAllState'" method='post'>
        <input value="1" name="notiState" type="hidden">
        <button>
          모두 읽음
        </button>
      </form>
    </div>
    <!-- 알림 로그 아이템 예제 -->
    <div data-th-each="notiLog : ${notiList}">
      <div class="notification-item">
        <a style="margin-left: 4%;"
           data-th-href="@{/notification/updateState(memberNo=${notiLog.memberNo},notiNo=${notiLog.no},notiState=1,url=${notiLog.url})}"
           data-th-text="${notiLog.content}">
          알림 내용
        </a>
        <span data-th-if="${notiLog.notiState==0}" data-th-text="안읽음"></span>
        <span data-th-if="${notiLog.notiState==1}" data-th-text="읽음"></span>
      </div>
    </div>
  </div>
</div>
<div data-th-replace="footer :: footer"></div>
</body>
</html>
