<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>🌱알림</title>
  <link rel="stylesheet" type="text/css" href="/css/font.css">
  <link rel="stylesheet" type="text/css" href="/css/header.css">
  <link rel="stylesheet" type="text/css" href="/css/notification/list.css">
</head>
<body>
<div data-th-replace="header :: header"></div>

<div style="margin-bottom: 100px;"></div>

<!-- 부모 컨테이너 - 가운데 정렬 -->
<div class="center-container">
  <!-- 알림 로그 목록 컨테이너 -->
  <div class="notification-list-container">
    <div id="notification-title-container">
      <h2 class="notification-title" style="margin-left: 5%;">🌱 알림내용</h2> <!-- 수정: 제목을 왼쪽 정렬로 맞춤 -->
      <form data-th-action="'/notification/updateAllState'" method='post'>
        <input value="1" name="notiState" type="hidden">
        <button>
          모두 읽음
        </button>
      </form>
    </div>
    <!-- 알림 로그 아이템 예제 -->
    <div data-th-each="notiLog : ${notiList}">
      <div class="notification-item">
        <a style="margin-left: 4%; color: black; text-decoration: none"
           data-th-href="@{/notification/updateState(memberNo=${notiLog.memberNo},notiNo=${notiLog.no},notiState=1,url=${notiLog.url})}"
           data-th-text="${notiLog.content}">
          알림 내용
        </a>
        <!--        <span data-th-text="${notiLog.no}"></span>-->  <!--페이지네이션 결과 확인용-->
        <span data-th-if="${notiLog.notiState==0}" data-th-text="안읽음"></span>
        <span data-th-if="${notiLog.notiState==1}" data-th-text="읽음"></span>
      </div>
    </div>
  </div>

  <div id="pageLabel">
    <a th:if="${page > 1}" th:class="${page == 1 ? 'pagination-link pagination-link-active' : 'pagination-link'}"
       data-th-href="@{${#request.getRequestURL()}(show=${show},page=1,keyword=${param.keyword})}"
       data-th-text="'1'"></a>

    <a th:if="${page > 2}" th:class="${page == 2 ? 'pagination-link pagination-link-active' : 'pagination-link'}"
       data-th-href="@{${#request.getRequestURL()}(show=${show},page=(${page} - 1),keyword=${param.keyword})}"
       data-th-text="'2'"></a>

    <a th:class="${page == page ? 'pagination-link pagination-link-active' : 'pagination-link'}"
       data-th-href="@{${#request.getRequestURL()}(show=${show},page=${page},keyword=${param.keyword})}"
       data-th-text="${page}"></a>

    <a th:if="${page < (maxPage - 1)}" th:class="${page + 1 == page ? 'pagination-link pagination-link-active' : 'pagination-link'}"
       data-th-href="@{${#request.getRequestURL()}(show=${show},page=(${page} + 1),keyword=${param.keyword})}"
       data-th-text="${page + 1}"></a>

    <a th:if="${page < maxPage}" th:class="${maxPage == page ? 'pagination-link pagination-link-active' : 'pagination-link'}"
       data-th-href="@{${#request.getRequestURL()}(show=${show},page=${maxPage},keyword=${param.keyword})}"
       data-th-text="${maxPage}"></a>
  </div>
</div>
<div data-th-replace="footer :: footer"></div>
</body>
</html>
