<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>알림 로그</title>

</head>
<body>
<!-- 알림 로그 컨테이너 -->
<div id="notification-container" data-th-fragment="notiBox">
  <!-- 알림 메시지 예제 -->
  <div class="notification">
    <span class="notification-title">알림</span>
    <span class="close-button" onclick="closeNotification()">X</span>
    <a style="text-decoration-line: none" href="/notification/list">
      <p>새로운 알림이 도착했습니다.</p>
    </a>
  </div>
  <!-- JavaScript 코드: 알림 메시지 닫기 기능 구현 -->
</div>

</body>
</html>
