<!DOCTYPE html>
<html>

  <head>
    <title>🌱방명록</title>
    <!-- 스타일과 스크립트 추가가 필요하면 여기에 -->
    <link rel="stylesheet" type="text/css" href="/css/font.css">
    <link rel="stylesheet" type="text/css" href="/css/header.css">
    <link rel="stylesheet" type="text/css" href="/css/guestBook/read.css">
    <link rel="stylesheet" type="text/css" href="/css/toggle.css">

    <script>
      function likeButtonClicked(buttonElement) {
          const guestBookNo = document.getElementById("guestBookNo").value;

          fetch(`/guestBook/like?guestBookNo=${guestBookNo}`, {
              method: 'POST'
          })
              .then(response => {
                  if (response.ok) {
                      alert("좋아요가 성공적으로 처리되었습니다.");
                      toggleLikeButtons(guestBookNo); // 버튼 상태 전환 함수 호출
                  } else {
                      alert("좋아요 처리 중 오류가 발생했습니다.");
                  }
              });
      }

      function unlikeButtonClicked(buttonElement) {
          const guestBookNo = document.getElementById("guestBookNo").value;

          fetch(`/guestBook/unlike?guestBookNo=${guestBookNo}`, {
              method: 'POST'
          })
              .then(response => {
                  if (response.ok) {
                      alert("좋아요 취소가 성공적으로 처리되었습니다.");
                      toggleLikeButtons(guestBookNo); // 버튼 상태 전환 함수 호출
                  } else {
                      alert("좋아요 취소 처리 중 오류가 발생했습니다.");
                  }
              });
      }
    </script>

  </head>

  <body>

    <div data-th-replace="header :: header"></div>

    <!-- "누구누구의 방명록" 추가 -->
    <div class="guestbook-title" style="text-align: center;">
      <h2><span
          th:text="${guestBookOwnerNick} ? '🌱 ' + ${guestBookOwnerNick} + ' 의 방명록 🌱' : ''"></span>
      </h2>
    </div>

    <!-- 방명록 추가 폼 -->
    <div class="add-guestbook-form" style="text-align: center;">
      <form method="post" action="/guestBook/add" style="display: inline-block; text-align: left;">
        <table>
          <tr>
            <th style="text-align: left; width: 200px;">🌱 제목</th>
            <td><input style="font-size:18px; border: none; width: 100%;" type="text" name="title"
                       id="title"
                       placeholder="제목을 입력하세요" required></td>
          </tr>
          <tr>
            <th style="text-align: left; width: 200px;">🌱 내용</th>
            <td><textarea
                style="font-size:18px; border: none; width: 100%; overflow: hidden; resize: none;"
                name="content" id="content" rows="6" cols="150" placeholder="내용을 입력하세요"
                required></textarea></td>
          </tr>
          <input name="memNo" data-th-value="${no}" type="hidden">
        </table>
        <div style="text-align: center; margin-left:37%; margin-bottom:2%;">
          <button type="submit">작성</button>
        </div>
      </form>
    </div>


    <!-- 게시글 목록을 출력하기 위한 Thymeleaf 반복문 -->
    <div data-th-each="guestBook : ${guestBookList}">

      <div class="container">
        <!-- 게시글 목록 -->
        <table class="content-table">
          <!-- 첫 번째 행: 번호, 제목, 메타 정보 -->
          <tr class="first-row">
            <td class="no-cell" style="text-align: center;">
              <span data-th-text="'No. ' + ${guestBook.no}"></span>
            </td>
            <td class="title-meta-cell" colspan="3">
              <div class="horizontal-layout">
                <span data-th-text="${guestBook.title}"></span>
                <div class="meta-info">
                  <img class="clock-icon" src="/images/clock.png">
                  <span data-th-text="${#dates.format(guestBook.createdAt, 'yyyy-MM-dd')}"></span>
                </div>
              </div>
            </td>
          </tr>
          <!-- 두 번째 행: 작성자, 내용, 좋아요 -->
          <tr class="second-row">
            <td class="writer-cell" style="text-align: center;">
              <div class="profile-picture" style="display: inline-block;">
                <img data-th-unless="${guestBook.writer.photo}" src='/images/avatar.png'>
                <a data-th-if="${guestBook.writer.photo}"
                   data-th-href="|https://kr.object.ncloudstorage.com/bitcamp-nc7-bucket-14/sns_member/${guestBook.writer.photo}|">
                  <img class="profile-image" alt="프로필 사진"
                       data-th-src="|http://gjoxpfbmymto19010706.cdn.ntruss.com/sns_member/${guestBook.writer.photo}?type=f&w=270&h=270&faceopt=true&ttype=jpg|">
                </a>
              </div>
              <div style="margin-top: 5px;"> <!-- 이름과 프로필 사진 사이에 간격을 조절합니다. -->
                <a data-th-href="|/myPage/${guestBook.writer.no}|"
                   data-th-text="${guestBook.writer.nick}"
                   style="text-decoration-line: none;color: black">작성자</a>
              </div>
            </td>
            <td class="content-like-cell" colspan="3" style="position: relative;">
            <textarea class="guestBook_textarea" readonly data-th-if="${guestBook != null}"
                      data-th-text="${guestBook.content != null ? guestBook.content : '내용입니다!'}"></textarea>
              <!-- 좋아요 버튼 -->
              <input data-th-id="guestBookNo" data-th-value="${guestBook.no}" type="hidden"
                     style="width:0px">
              <input class="toggleBox"
                     data-th-checked="${session.loginUser.getLikedGuestBookSet().contains(guestBook.no)}"
                     data-th-id="checkLike"
                     type="checkbox">
              <label class="checkedLabel"
                     data-th-for="checkLike"
                     data-th-onclick="unlikeButtonClicked(this)"
                     data-th-id="'unlikeButton-' + ${guestBook.no}"
                     style="background-color: transparent;">
                ❤️
              </label>
              <label class="uncheckedLabel"
                     data-th-for="checkLike"
                     data-th-onclick="likeButtonClicked(this)"
                     data-th-id="'likeButton-' + ${guestBook.no}"
                     style="background-color: transparent;">
                🤍
              </label>
            </td>
          </tr>
        </table>
        <div class="btn-container">
          <a data-th-href="@{/guestBook/delete(memNo=${guestBook.getMpno()},no=${guestBook.no})}">
            <div style="text-align: center; margin-left:37%; margin-bottom:2%;">
              <button>삭제</button>
            </div>
          </a>
        </div>
      </div>
    </div>
    <!-- 페이징 처리 부분 -->
    <div id="pageLabel">
      <a th:if="${page > 1}"
         th:class="${page == 1 ? 'pagination-link pagination-link-active' : 'pagination-link'}"
         data-th-href="@{${#request.getRequestURL()}(show=${show},page=1,keyword=${param.keyword})}"
         data-th-text="'1'"></a>

      <a th:if="${page > 2}"
         th:class="${page == 2 ? 'pagination-link pagination-link-active' : 'pagination-link'}"
         data-th-href="@{${#request.getRequestURL()}(show=${show},page=(${page} - 1),keyword=${param.keyword})}"
         data-th-text="'2'"></a>

      <a th:class="${page == page ? 'pagination-link pagination-link-active' : 'pagination-link'}"
         data-th-href="@{${#request.getRequestURL()}(show=${show},page=${page},keyword=${param.keyword})}"
         data-th-text="${page}"></a>

      <a th:if="${page < (maxPage - 1)}"
         th:class="${page + 1 == page ? 'pagination-link pagination-link-active' : 'pagination-link'}"
         data-th-href="@{${#request.getRequestURL()}(show=${show},page=(${page} + 1),keyword=${param.keyword})}"
         data-th-text="${page + 1}"></a>

      <a th:if="${page < maxPage}"
         th:class="${maxPage == page ? 'pagination-link pagination-link-active' : 'pagination-link'}"
         data-th-href="@{${#request.getRequestURL()}(show=${show},page=${maxPage},keyword=${param.keyword})}"
         data-th-text="${maxPage}"></a>
    </div>

    <div data-th-replace="footer :: footer"></div>

  </body>

</html>