table {
    border-collapse: collapse;
    width: 1500px;
    margin: 1rem auto;
    background-color: white;
    border: 1px solid #ddd;
}
tr {

}
thead {
    /* box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.1);*/
}

/* 테이블 행 */
td {
    padding: 8px;
    text-align: left;

    border: 1px solid #ddd;
    text-align: center;
}

th {
    padding: 8px;
    text-align: left;
    text-align: center;
    /*border-top: 2px solid #888;*/
    /*border-bottom: 2px solid #888;*/
    background-color: #f2f2f2;
    border: 1px solid #ddd;
}

/* 테이블 올렸을 때 */
tbody tr:hover {
    background-color: #ccc;
    opacity: 0.9;
    cursor: pointer;
}

/* 테이블 비율 */
th:nth-child(1),
td:nth-child(1) {
    width: 10%;
}

th:nth-child(2),
td:nth-child(2) {
    width: 50%;
}

th, td {
    border-left: none;
    border-right: none;
}

/* 버튼 스타일 (새 글 버튼, 메인 버튼) */
.button {
    background-color: #426B1F;
    color: white;
    padding: 5px 10px;
    text-decoration: none;
    border-radius: 4px;
}

.button:hover {
    background-color: #426B1F;
}

/* 검색 박스 스타일 */
.search-box {
    margin-top: 20px;
    text-align: left;
}

input[type="text"] {
    padding: 5px;
    width: 200px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-right: 10px;
}

.search-button {
    background-color: #426B1F;
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.search-button:hover {
    background-color: #426B1F;
}

.profile-picture {
    width: 20px; /* 원 모양의 크기를 조절할 수 있습니다. */
    height: 20px; /* 원 모양의 크기를 조절할 수 있습니다. */
    border-radius: 50%; /* 50%로 설정하여 원 모양으로 만듭니다. */
    overflow: hidden; /* 이미지가 원 안에 맞게 잘릴 수 있도록 설정합니다. */
}

.profile-picture img {
    width: 100%; /* 이미지를 부모 요소에 꽉 채우도록 설정합니다. */
    height: auto; /* 가로 세로 비율을 유지합니다. */
}

.profile-author {
    display: flex;
    align-items: center;
}

#pageLabel {
    margin-top : 100px;
    text-align: center;
}

.pagination-link {
    display: inline-block;
    width: 36px; /* 너비 */
    height: 36px; /* 높이 */
    line-height: 36px; /* 텍스트 수직 정렬 */
    text-align: center; /* 텍스트 수평 정렬 */
    margin-right: 4px;
    border-radius: 50%; /* 동그라미 */
    background-color: #f2f2f2;
    text-decoration: none;
    color: black;
}
.pagination-link-active {
    background-color: #426B1F;
    color: white;
}